*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color: rgb(148, 146, 146);
}

h1{
    text-align: center;
}

.container{
    height: 500px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 3px solid black;

    display: flex;
    flex-direction: row; /* default left to right */
    flex-direction: row-reverse; /*right to left*/
    flex-direction: column; /* top to bottom */
    flex-direction: column-reverse; /* bottom to top */
    flex-direction: row;

    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /*justify-content: flex-start; all elements will move to main axis starting position*/
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly; */


    /* 
    justify-content: main axis ke around work karta hai
    
    main axis decide kun karega, aapka flex-direction 
    */

    /* 
    align item work around cross axis
    */

    flex-wrap: wrap;

    align-content: flex-start;
    align-content: flex-end;
    align-content:center;
    

}

.container div{
    outline: 2px solid ;
    height: 170px;
    width: 170px;
}