* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}
body {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Practice 1 */
.navbar {
background-color: salmon;
height: 50px;
width: 900px;
top: 0px;
position: fixed;
outline: 1px solid;
border-radius: 6px;

display: flex;
align-items: center;
}
ul .nav_logo{
    display: flex;
    margin: 0px 15px;
    font-weight: bold;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
    font-size: 25px;
}

.navbar li{
    color: rgb(50, 50, 50);
}

.navbar li:hover{
    transition: all ease 0.2s;
    color: rgb(4, 4, 4);
    transform: scale(1.05);
}



/* Practice 2 */
.container {
  margin: 10px;
  outline: 1.2px solid;
  width: 400px;
  height: 500px;
  background-color: beige;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  text-align: center;
  height: 90px;
  width: 90px;
  background-color: gray;
  font-size: 50px;
  font: bold;
  outline: 1px solid;
  border-radius: 4px;
  margin: 5px;
}



